body {
padding: 10px;
height: 100vh;
}

.header, .footer {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    color:blue;
    background-color: rgb(130, 187, 231);
 
}

.main {
    overflow: hidden;
   padding-bottom: 10px;

}

.menu {
   width:300px;
   float: left;
   background-color: rgb(236, 242, 154);
   padding-bottom: 500em;
   margin-bottom: -500em;
}
.menu ul li {
margin-bottom: 10px;
}

.content {
    margin-left: 300px;
    padding: 20px;
    vertical-align: top;
    overflow-x: auto;
    overflow: hidden;
    padding-bottom: 500em;
  margin-bottom: -500em;
}
.content img {
float: left;
padding: 20px;
}

.footer {
   clear:both
}