.wrapper {
  height: 50vh;
  padding: 20px;
}
.menu {
  float: left;
  position: relative;
  width: 20%;
  color: #3e54ac;
  background-color: #3e54ac;
  height: 100%;
}

.content {
  position: relative;
  margin-left: 20%;
  margin-right: 200px;
  color: #bface2;
  background-color: #bface2;
  height: 100%;
}

.banner {
  position: relative;
  float: right;
  width: 200px;
  background: #655dbb;
  color: #655dbb;
  height: 100%;
}
