body {
  font-family: "Roboto";
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: white;
}

a {
  color: white;
  text-decoration: none;
}
h1 {
  margin-bottom: 15px;
  margin-top: 0;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 105.3%;

  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  background-color: #313131;
  margin-bottom: 20px;
  padding-left: 140px;
  padding-right: 120px;
}

.header ul li {
  display: inline-block;
  padding: 10px 30px 12px 30px;
  color: white;
}

.header-left {
  float: left;
}
.header-right {
  float: right;
}

.header-right li a,
.header-right li span {
  padding-left: 10px;
}

.header-right li:nth-child(1)::before {
  content: url(../assets/phone.png);
  position: relative;
  top: 3px;
}
.header-right li:nth-child(2)::before {
  content: url(../assets/delivery-icon.png);
  position: relative;
  top: 3px;
}

.main-container {
  width: 1140px;
  margin: 0 auto;
}

.menu {
  margin-bottom: 20px;
}
.logo {
  float: left;
  width: 112.96px;
  height: 50px;
  margin-right: 38px;
  background: url(../assets/LOGO.png) no-repeat center;
}

input {
  float: left;
  width: 834px;
  height: 50px;
  margin-right: 37px;
  outline: none;
  border: 1px solid #e6e6e6;
  text-indent: 40px;
  background: url(../assets/search-icon.png) no-repeat 15px 18px;
}
.profile {
  float: right;
  height: 50px;
}

.profile > span:not(:last-child) {
  margin-right: 20px;
}
.profile > span {
  display: inline-block;
  background: no-repeat center;

  height: 50px;
  width: 21px;
  cursor: pointer;
}
.profile > span:nth-of-type(1) {
  background-image: url(../assets/wishlist-icon.png);
}
.profile > span:nth-of-type(2) {
  background-image: url(../assets/bag.png);
}
.profile > span:nth-of-type(3) {
  background-image: url(../assets/profile-icon.png);
}

.navigation {
  padding: 24px 40px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.navigation > li {
  display: inline-block;
  text-indent: 33px;
  text-decoration: none;
  background-repeat: no-repeat;
  cursor: pointer;
}
.navigation > li:not(:last-child) {
  margin-right: 50px;
}

.navigation > li:nth-of-type(1) {
  background-image: url(../assets/kitchen-icon.png);
}
.navigation > li:nth-of-type(2) {
  background-image: url(../assets/bedroom-icon.png);
}
.navigation > li:nth-of-type(3) {
  background-image: url(../assets/livingroom-icon.png);
  text-indent: 33px;
}
.navigation > li:nth-of-type(4) {
  background-image: url(../assets/closet-icon.png);
}
.navigation > li:nth-of-type(5) {
  background-image: url(../assets/office-icon.png);
}
.navigation > li:nth-of-type(6) {
  background-image: url(../assets/childrensroom-icon.png);
}
.navigation > li:nth-of-type(7) {
  margin-right: 45px;
  text-indent: 0;
}
.navigation > li:nth-of-type(8) {
  width: 1.27;
  height: 15px;
  background-image: url(../assets/etc.png);
  background-position: right;
}

.slider {
  position: relative;
  width: 1140px;
  height: 450px;
  background: url(../assets/1785\ 1.png) no-repeat;
}

.slider .info {
  width: 280px;
  position: absolute;
  left: 120px;
  top: 100px;
}
.slider .info > p {
  font-family: "Roboto Condensed";
  line-height: 140.8%;
  color: #343434;
  margin-bottom: 20px;
}
.slider .info > button {
  padding: 14px 25px;
  margin-bottom: 20px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 140.8%;
  color: #414141;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  border: none;
  cursor: pointer;
}
.slider .info > button:hover {
  background-color: rgb(219, 217, 217);
}
